<table >
  <tbody>
    <% drink.minimal_ingredients.each do |minimal_ingredient| %>
      <tr>
        <td><%= minimal_ingredient[:ingredient_amount] %></td>
        <td class="ingredient-condensed"><%= minimal_ingredient[:ingredient_name] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
