<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <form action="/drinks/new" method="link">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" ></span> Create Drink
      </button>
    </form>
  </div>

  <div class="row">
    <h3>Drinks</h3>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Glass</th>
        <th>Directions</th>
        <th>Source</th>
      </thead>
      <tbody>
        <% @drinks.each do |drink| %>
          <tr>
            <%= render drink %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
