<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <%= render @drink %>
  </div>
</div>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
