<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h2>Listing Ingredients</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Ingredient</th>
          <th># of Cocktails</th>
        </tr>
      </thead>

      <tbody>
        <% @ingredients.each do |ingredient| %>
          <tr>
            <td><%= ingredient.name %></td>
            <td><%= ingredient.drink_items_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= paginate @ingredients %></p>
  </div>
</div>
