<div class="container">
  <div class="row">
    <% content_for :title do %>About<% end %>
    <h3>About the Website</h3>
    <p>
    Giggle Water is a work in progress and as such the site is currently in a
    very early beta. Please report any bugs you find on the Github page.
    </p>
  </div>
</div>
